Flask
#gunicorn==20.0.4
jaeger-client
Flask-Opentracing
prometheus-client
opentelemetry-api
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation
opentelemetry-sdk
prometheus-flask-exporter
pylint
requests
